*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10rem;
    background: linear-gradient( to right, rgb(91, 153, 235), rgb(235, 179, 179));
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.cards {
    display: grid;
    grid-template-columns: minmax(200px, 1fr 1fr);
    grid-gap: 2rem;
    justify-content: space-around;
}

.card {
    width: 200px;
    height: 80px;
    background-color: transparent;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

section {
    align-self: center;
    align-content: center;
}